<div class="container" id="index-container">
  <div class="index-header-title mb-2">
    <h1>The list of our Cocktails</h1>
  </div>
  <div class="row" style="justify-content: space-between">
    <% @cocktails.each do |cocktail| %>
      <div class="index-card-container">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="index-card-title">
            <h1><%= cocktail.name %></h1>
          </div>
          <div class="index-card-ingredient">
            <% cocktail.ingredients.each do |ingredient| %>
              <ul class="ingredient-list">
                <li><%= ingredient.name %></li>
                <%# <li>Wather</li>
                <li>Sugar</li>
                <li>Sugar</li>
                <li>Sugar</li>
                <li>Sugar</li>
                <li>Sugar</li> %>
              </ul>
            <% end %>
            <div class="rating">
              <p>⭐⭐⭐⭐</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



