<div class="banner">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<div class="container" id="show-card-container">
    <div class="row">
        <div class="col-8">
            <div class="show-content-details">

            </div>
        </div>
    </div>
    <div class="show-ingredient col-8">
        <div class="show-content-ingredient">
            <h1>Ingredients</h1>
        </div>
    </div>
</div>