<div class="container mt-3" id="container-doses-new">
    <div class="dose-new-header">
        <h1>Add Dose</h1>
    </div>
    <div class="new-form-content mt-3">
        <%= simple_form_for [ @cocktail,  @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient, include_blank: false %>
        <%= f.submit class: "index-list-btn-add"%>
        <% end %>
    </div>
</div>

