.index-card-container {
    margin-right: 36px;
    height: 200px;
    width: 340px;
    margin-bottom: 30px;
    padding-left: 8px;
    background-size: cover;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://source.unsplash.com/1600x900/?cocktail");

    h1 {
        color: white;
        font-size: 30px;
    }

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
        transition-duration: 1s;
    }
}

.index-card-title {
    width: 300px;
    padding-bottom: 7px;
    padding-top: 23px;

    h1 {
        font-size: 20px;
    }
}

.index-header-title {
    margin-bottom: 29px;
}

.ingredient-list {
    margin-left: -22px;
    width: 100%;
    height: 100%;
    font-size: 17px;
    li {
        color: white;
    }
}

.index-card-ingredient {
    display: flex;
    flex-direction: column;
    width: 313px;
    height: 107px;
    overflow: hidden;
}

.rating {
    margin-left: 238px;
}

.card-link {
    text-decoration: none;
    margin-left: 0 !important;
    color: white;
}