.navbar-lewagon {
  justify-content: space-between;
  background: whitesmoke;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.nav-item.active .nav-link {
  color: #26a7c1 !important;
}

.nav-link {
  color: #4ed3d1 !important;
} 