.show-content-details  {
    margin-bottom: 80px;
    padding: 10px;
}

.show-content-details-body {
    padding: 10px;

}

.show-content-title {
    text-align: center;
    padding-bottom: 21px;
}

.show-content-ingredients {
    height: 250px;
    width:  100%;
}

.show-content-description {
    padding: 10px;
    height: 336px;
}

.index-list-btn {
    text-decoration: none;
    color: lightgray;

    &:hover {
        text-decoration: none;
        color: darkgrey;
    }
    
}

.show-ingredient-list {
    overflow: hidden;
}

.show-ingredient-list p {
    color: gray;
}


.show-content-review {
    margin-bottom: 100px;
    height: 350px;
    overflow: hidden;
}


